<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    <title>Team SUPREME Reddit Wrapper DEMO</title>
</head>

<style>
    body {
        background-color: #4B2E83;
    }

    .main-container {
        padding: 2% 10%; 
        background-color: #B7A57A; 
        margin: auto 20%; 
        border-radius: 2%; 
        border: 2px solid #85754D;
    }

    .btn-container {
        margin: 5% 25%;
    }

    .btn {
        width: 150px !important;
    }
</style>

<body>
    <center class="col-md-12" style="margin: 5% auto;">
        <div class="main-container container">
            <h2>Team SUPREME Reddit Wrapper DEMO</h2>
            <br><br>
            <h5>
                Below are a list of buttons which will fire database events via a RESTful API layer setup in
                <b>views.py</b>
            </h5>        
            <hr>
            <div class="row">
                <div class="col-sm">
                    <br><br>
                    <b>Buttons below fire events for CRUD actions directly connected to the PostgreSQL and NoSQL databases.</b>
                    <!-- List of GUI Buttons firing Direct Database Connector CRUD Functions -->
                    <div class="row btn-container">
                        <button type="button" name="button" class="btn btn-primary" id="direct_read_btn">
                            Direct Read
                        </button>
                    </div>
                    <div class="row btn-container">
                        <button type="button" name="button" class="btn btn-success" id="direct_create_btn">
                            Direct Create
                        </button>
                    </div>
                    <div class="row btn-container">
                        <button type="button" name="button" class="btn btn-warning" id="direct_update_btn">
                            Direct Update
                        </button>
                    </div>
                    <div class="row btn-container">
                        <button type="button" name="button" class="btn btn-danger" id="direct_delete_btn">
                            Direct Delete
                        </button>
                    </div>
                </div>
        
                <div class="col-sm">
                    <br><br>
                    <b>Buttons below fire events for CRUD actions connected through the <b>db_wrapper.py</b> connector to the PostgreSQL and NoSQL databases.
                    </b>
                    <!-- List of GUI Buttons firing Database Wrapper Connector CRUD Functions -->
                    <div class="row btn-container">
                        <button type="button" name="button" class="btn btn-primary" id="wrapper_read_btn">
                            Wrapper Read
                        </button>
                    </div>
                    <div class="row btn-container">
                        <button type="button" name="button" class="btn btn-success" id="wrapper_create_btn">
                            Wrapper Create
                        </button>
                    </div>
                    <div class="row btn-container">
                        <button type="button" name="button" class="btn btn-warning" id="wrapper_update_btn">
                            Wrapper Update
                        </button>
                    </div>
                    <div class="row btn-container">
                        <button type="button" name="button" class="btn btn-danger" id="wrapper_delete_btn">
                            Wrapper Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </center>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous">
    </script>

    <script type="text/javascript">
        // List of GUI Buttons firing Direct Database Connector CRUD Functions
        // via a RESTful API on the back-end/server side - dealing with 1000 records each
        $('#direct_read_btn').click(function (e) {
            e.preventDefault();
            console.log('direct_read_btn');

            $.ajax({
                url: "{% url 'read_thing' %}",
                type: 'GET',
                data: { wrapper: 0 },
                dataType: 'JSON'
            }).done(function(resp) {
                alert(resp.message);
            });
        });

        $('#direct_create_btn').click(function (e) {
            e.preventDefault();
            console.log('direct_create_btn');

            $.ajax({
                url: "{% url 'create_thing' %}",
                type: 'GET',
                data: { wrapper: 0 },
                dataType: 'JSON'
            }).done(function(resp) {
                alert(resp.message);
            });
        });

        $('#direct_update_btn').click(function (e) {
            e.preventDefault();
            console.log('direct_update_btn');

            $.ajax({
                url: "{% url 'update_thing' %}",
                type: 'GET',
                data: { wrapper: 0 },
                dataType: 'JSON'
            }).done(function(resp) {
                alert(resp.message);
            });
        });

        $('#direct_delete_btn').click(function (e) {
            e.preventDefault();
            console.log('direct_delete_btn');

            $.ajax({
                url: "{% url 'delete_thing' %}",
                type: 'GET',
                data: { wrapper: 0 },
                dataType: 'JSON'
            }).done(function(resp) {
                alert(resp.message);
            });
        });

        // List of GUI Buttons firing Database Wrapper Connector CRUD Functions
        // via a RESTful API on the back-end/server side - dealing with 1000 records each
        $('#wrapper_read_btn').click(function (e) {
            e.preventDefault();
            console.log('wrapper_read_btn');

            $.ajax({
                url: "{% url 'read_thing' %}",
                type: 'GET',
                data: { wrapper: 1 },
                dataType: 'JSON'
            }).done(function(resp) {
                alert(resp.message);
            });
        });

        $('#wrapper_create_btn').click(function (e) {
            e.preventDefault();
            console.log('wrapper_create_btn');

            $.ajax({
                url: "{% url 'create_thing' %}",
                type: 'GET',
                data: { wrapper: 1 },
                dataType: 'JSON'
            }).done(function(resp) {
                alert(resp.message);
            });
        });

        $('#wrapper_update_btn').click(function (e) {
            e.preventDefault();
            console.log('wrapper_update_btn');

            $.ajax({
                url: "{% url 'update_thing' %}",
                type: 'GET',
                data: { wrapper: 1 },
                dataType: 'JSON'
            }).done(function(resp) {
                alert(resp.message);
            });
        });

        $('#wrapper_delete_btn').click(function (e) {
            e.preventDefault();
            console.log('wrapper_delete_btn');

            $.ajax({
                url: "{% url 'delete_thing' %}",
                type: 'GET',
                data: { wrapper: 1 },
                dataType: 'JSON'
            }).done(function(resp) {
                alert(resp.message);
            });
        });
    </script>
</body>
</html>